/*css写経３時間目記載内容*/

body{
  font-family: serif
}
.hello{
  text-align:center;
}
h2{
  text-align: left;
  font-size: 40px;
  color: blue;
}
h2.no1{
  color:red;
}

h2.no2{
  color: blue
}
.a{
  color: red;
  text-align: left;
}

.b{
  font-size: 30px;
}

.ab{
  background-color: green;
}

.abc{
  /*font-size: 20px;*/
  font-family: "meiryo",serif;
  font-size: 30px;
  text-align: left;
  color: blue;
}
.XYZ{
  color: yellow;
}

.xyz{
  color: yellow;
}
ul{
  list-style-type: none;
  /*４時間目記載内容*/
  color: red;
  font-size: 30px;
}
.nol{
  color: red;
}

/*#main{*/
/*  text-align: center;*/
/*}*/

#main{
  color: orange;
}

#main h2{ 
  font-size:10px;
  
}


.sub{
  color: red;
  font-size: 20px;
}
.word{
  color: blue;
  font-family: serif
}

h1,h2,h3{
  color: green;
}

.name,.name2{
  color:blue;
  text-align: center;
}



/*css写経２時間目に記載した内容↓↓↓*/
/*body{*/
/*  color: pink; background-color: gray;*/
/*}*/

/*h1{*/
/*  color: blue;*/
/*  font-size: 15px;*/
/*}*/

/*.abc{*/
/*  Font-size:10px;*/
/*  color: blue;*/
/*}*/

/*.xyz{*/
/*  color: brown;*/
/*  background-color: black;*/
/*}*/

/*p{*/
/*  color: red;*/
/*}*/

/*#aisatsu{*/
/*  font-size: 20px;*/
/*  color: green;*/
/*}*/

/*#orei{*/
/*  font-size:*/
/*  30px; color:*/
/*  yellow;*/
/*}*/