body{
  color: pink; background-color: gray;
}

h1{
  color: blue;
  font-size: 15px;
}

.abc{
  Font-size:10px;
  color: blue;
}

.xyz{
  color: brown;
  background-color: black;
}

/*p{*/
/*  color: red;*/
/*}*/

#aisatsu{
  font-size: 20px;
  color: green;
}

#orei{
  font-size:
  30px; color:
  yellow;
}