h1 {
  /*ブラウザ画面全体に対して中央に来る*/
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom:20px;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom:10px;
  width: 500px;
  font-size: 20px;
  border-left:4px red solid;
  background-color: #f1f1f1;
}

/*form {*/
  /*display:table;*/
  /*text-align: center;*/
/*  margin: 0 auto;*/
/*}*/

form {
  width: 500px; /* 必要に応じて幅を調整してください */
  margin: 0 auto;
  background-color: #fbfbfb;
  border: 4px solid #c3c3c3 ;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.text, textarea, .dropdown{

  margin-bottom: 30px;
}

 .submit {
   margin-top: 30px;
 }